.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    /*Change for smaller screens*/
    max-width: 85vw;
    height: 100%;
    gap: 0;
    outline: 1px solid gainsboro;
}

.calendar .day {
    outline: 1px solid gainsboro;
    padding: 1px 5px;
}

.calendar .title {
    display: grid;
    place-items: center;
    font-size: 1.1em;
    padding: 0.1rem;
    font-weight: bold;
}
