/* Main CSS */
html, body {
    height: 100%;
}

body {
    width: 100%;
/* https://htmlcolorcodes.com/colors/shades-of-brown/ */
    background-color: #EADDCA; /* Almond */
    font-family: 'Trebuchet MS', Verdana, sans-serif; 
    color: #555555;
}

header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

header .logo {
    position: absolute;
    top: 0;
    left: 0;
}

header nav {
    display: inline-block;
    padding-right: 10px;
}

nav a {
    color: #333333;
    text-decoration: none;
    margin: 0px 10px;
}

nav a:hover {
    color: indigo;
    cursor: pointer;
    text-decoration: underline;
}

footer {
    width: 100%;
    padding: 10px;
    border-top: 2px solid #D9CCB9;
}

footer.mainFooter {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
}

footer .navTitle {
    font-size: 1.25em;
    margin-bottom: 0;
    margin-top: 0.5rem;
}

footer nav {
    display: grid;
    grid-template-columns: 1fr;
}

footer nav a {
    margin: 0px;
}

.hero {
    overflow-x: hidden;
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    margin: 0.75rem 0;
}

.IntroBlurb {
    display: grid;
    place-content: center;
    grid-column: span 2 / span 2;
}

.IntroBlurb h1 {
    font-size: 6rem;
    line-height: 1;
    margin-bottom: 0;
}
