<!DOCTYPE html>
<html>
    <head>
        {{ template "meta" }}
        <title>API Info</title>
        <style>
            main {
                display: grid;
                place-items: center;
                padding: 0 2vw;
            }
            code {
                padding: 2rem;
            }
            data {
                margin: 7px;
                background-color: snow;
                outline: 3px solid rgb(205, 205, 205);
                display: none;
                width: 100%;
                height: 1.5em;
                line-height: 1.5em;
            }
        </style>
    </head>
    <body>
        {{ template "header" }}
        <main>
            <h1>APP API Documentation</h1>
            <section>
                <h2>Token</h2>
                <!-- great use case for HTMX here or simple js -->
                <p>Request an API token</p>
                <p>Future versions will require you to login to request a token
                Set the API token in the header of your request to gain access to 
                the REST API
                </p>
                <p>For Example, using curl it would look something line</p>
                <code>
                    curl --header "bearer: a1234567890ABCDEF" https://myapp.com/api/v1/resource
                </code>
                <div><!-- should be a form but I'm skipping for meow -->
                    <button type="submit" id="tokenRequest">Request API Token</button>
                    <data for="tokenRequest" id="tokenData"></data>
                </div>
                <script>
                    var b = document.querySelector("#tokenRequest");
                    b.addEventListener("click", () => {
                        fetch("http://localhost:8080/api/v1/token").then(data => {
                            resp = data.json().then(dat => {
                                var d = document.querySelector("#tokenData");
                                if ('token' in dat) {
                                    d.innerHTML = dat.token;
                                } else {
                                    d.innerHTML = "error understanding response: " + JSON.stringify(dat, 0, 2);
                                }
                                d.style.display="block";
                            })
                        })
                        this.disable = true;
                    })
                </script>
            </section>
            <section>
                <h2>Resources</h2>
                <p>Below are the resources with summaries of their properties which
                are available view standard REST API</p>
                <h3>Public</h3>
                {{- range .Resources.Public -}}
                    <details>
                        <summary>{{ .Name }}</summary>
                        <!--TODO: move CSS to stylesheet -->
                        <div style="display: grid; grid-template-columns: 1fr 1fr; max-width: 200px;">
                            <span style="margin-botton: 5px">Property</span><span style="margin-botton: 5px">Type</span>
                            {{- range .Props -}}
                            <span>{{ .Name }}</span><span>{{ .Type }}</span>
                            {{- end -}}
                        </div>
                    </details>
                {{- end -}}
                <!-- Change to if logged in -->
                <h3>Private</h3>
                {{- range .Resources.Private -}}
                    <details>
                        <summary>{{ .Name }}</summary>
                        <!--TODO: move CSS to stylesheet -->
                        <div style="display: grid; grid-template-columns: 1fr 1fr; max-width: 200px;">
                            <span style="margin-botton: 5px">Property</span><span style="margin-botton: 5px">Type</span>
                            {{- range .Props -}}
                            <span>{{ .Name }}</span><span>{{ .Type }}</span>
                            {{- end -}}
                        </div>
                    </details>
                {{- end -}}
            </section>
        </main>
        <br>
        {{ template "footer" }}
    </body>
</html>
