{{ define "calendar" }}
<article class="calendar">
    <div class="title">Sunday</div>
    <div class="title">Monday</div>
    <div class="title">Tuesday</div>
    <div class="title">Wednesday</div>
    <div class="title">Thursday</div>
    <div class="title">Friday</div>
    <div class="title">Saturday</div>
    {{ range $i, $e := . }}
    {{ if $i }}
    <div class="day">
    {{ else }}
    <div class="day" style="grid-column-start: {{ $e.Weekday }}">
    {{- end -}}
    <p>{{ $e.Day }}</p>
    </div>
    {{ end }}
</article>
{{ end }}
