{{ define "header" }}
<header>
    <a class="logo" href="/" style="float: left;"><img src="https://api.iconify.design/lucide:fan.svg" width=10 height=10>Logo</a>
    <nav>
        <a href="/">Home</a>
        <a href="/calendar">Calendar</a>
        <a href="/api">API</a>
    </nav>
    <search>
        <form>
            <label for="movie">Find Stuff</label>
            <input type="search" id="movie" name="q" />
            <button type="submit">Search</button>
        </form>
    </search>
</header>
{{ end }}
