{{ define "hero" }}
<section class="hero">
    <div class="IntroBlurb">
        <h1>Mycal</h1>
        <h3>A family calendar for coordination</h3>
    </div>
    <img src="/static/calendar.png" width=500 height=400 style="width: 500px; height: 400px;">
    Illustration by <a href="https://icons8.com/illustrations/author/lZpGtGw5182N">Elisabet Guba</a> from <a href="https://icons8.com/illustrations">Ouch!</a>
</section>
{{ end }}
