<!DOCTYPE html>
<html>
    <head>
        {{ template "meta" }}
        <title>New App</title>
    </head>
    <body>
        {{ template "header" }}
        <main>
            {{ template "hero" }}
        </main>
        {{ template "footer" }}
        Illustration by <a href="https://icons8.com/illustrations/author/lZpGtGw5182N">Elisabet Guba</a> from <a href="https://icons8.com/illustrations">Ouch!</a>
    </body>
</html>
