{{ define "meta" }}
<meta charset="UTF-8">
<meta name="description" content="An application that does something!">
<meta name="keywords" content="go,htmx">
<meta name="author" content="lwileczek">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/ico" href="/static/favicon.ico" />

<link rel="stylesheet" href="/static/main.css">
<!--
    special CSS if we know it's a large enough screen
<link rel="stylesheet" media="screen and (min-width: 768px)" href="widescreen.css">
<--
    CSS file for small screens, like phones, so we can override classes & properties
-->
<link rel="stylesheet" media="screen and (max-width: 640px)" href="smallscreen.css">
<script src="https://unpkg.com/htmx.org@1.9.9"></script>
{{- end -}}
