<!Doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/static/calendar.css">
    </head>
    <body>
        <main style="display: grid; place-items: center;">
            <div style="height: 95vh;">
                <div style="display: inline;">
                    <h3>January</h3>
                    <div style="display: inline;">
                        <button>
                            <label>Last</label>
                        </button>
                        <button>
                            <label>Next</label>
                        </button>
                    </div>
                </div>
                {{ template "calendar" . }}
            </div>
        </main>
    </body>
</html>
